# Application
APP_PORT=8085

# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=ssg_system
MYSQL_USER=ssg_user
MYSQL_PASSWORD='change_this_app_password'
MYSQL_ROOT_PASSWORD='change_this_root_password'

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD='your-app-password'
SMTP_ENABLE_SSL=true